h1 {
	text-align: center;
}

h3 {
	text-align:center;
}

h5 {
	text-align:center;
}

.round {
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}

.round.red {
	background-color: #D0373A;
}

.round.blue {
    background-color: #2E6292;
}

.round.yellow {
	background-color: #E9CE43;
}

.round.green {
    background-color: #42A129;
}

.convertbtn {
	display: inline-block;
}

.result {
	display: inline-block;
	padding-left: 2%;
}

.bottomline {
	padding-left: 5%;
}

.bottom {
	padding: 1% 1% 1% 1%;
	border: 1px solid;
	border-color: lightgrey;
	border-radius: 5px;
}

.barselection {
	text-align: center;
	padding-bottom: 5%;
}